.game-grid {
    -fx-background-color: lightblue;
    -fx-padding: 10;
}
.game-grid-cell {
    -fx-background-color: black, lightblue;
}


.game-grid-cell.left-top-corner {
    -fx-background-insets: 0, 0 2 2 0 ;
}

.game-grid-cell.left-edge {
    -fx-background-insets: 0, 2 2 2 0 ;
}

.game-grid-cell.left-bottom-corner {
    -fx-background-insets: 0, 2 2 0 0 ;
}


.game-grid-cell.top-edge {
    -fx-background-insets: 0, 0 2 2 2 ;
}

.game-grid-cell.bottom-edge {
    -fx-background-insets: 0, 2 2 0 2 ;
}

.game-grid-cell.center {
    -fx-background-insets: 0, 2 2 2 2 ;
}

.game-grid-cell.right-top-corner {
    -fx-background-insets: 0, 0 0 2 2 ;
}

.game-grid-cell.right-edge {
    -fx-background-insets: 0, 2 0 2 2 ;
}

.game-grid-cell.right-bottom-corner {
    -fx-background-insets: 0, 2 0 0 2 ;
}